.DS_Store
node_modules/
__http__
__test__
dist/
.vscode
.env
panda_market.pem

#Docker
Dockerfile
docker-compose.yml

#스프린트 진행 관련 문서
mission_docs/
GEMINI.md
README_backup.md
Sprint_Mission_8.md
Sprint_Mission_9.md
Sprint_Mission_10.md
Sprint_Mission_11.md
antigravity.md

STUDY_NOTE_AWS_DEPLOY_SESSION.md
STUDY_NOTE_AWS_DEPLOY.md
STUDY_NOTE_AWS_DEPLOY_1.md
STUDY_NOTE_AWS_DEPLOY_2.md
STUDY_NOTE_AWS_DEPLOY copy.md
Study_note_docker.md